<section class="section" id="about">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-one-third">
        <figure class="image is-256x256">
          <img class="is-rounded" src="{{ site.data.profile.headshot }}" alt="{{ site.data.profile.name }}">
        </figure>
      </div>
      <div class="column">
        <p class="is-size-6 has-text-grey">{{ site.data.profile.role }} &bull; {{ site.data.profile.location }}</p>
        <h2 class="title is-size-2 has-text-left">About</h2>
        {% for paragraph in site.data.profile.summary %}
          <p class="is-size-5">{{ paragraph }}</p>
        {% endfor %}

        <h3 class="subtitle is-size-4 mt-6">Key Skills</h3>
        {% for block in site.data.profile.skills %}
          <p class="is-size-5 mt-2">
            <strong>{{ block.label }}:</strong>
            {{ block.items | join: ', ' }}
          </p>
        {% endfor %}

        <h3 class="subtitle is-size-4 mt-6">Education</h3>
        {% for edu in site.data.profile.education %}
          <p class="is-size-5 mt-2">
            <strong>{{ edu.institution }}</strong> &mdash; {{ edu.credential }} ({{ edu.timeline }})
            {% if edu.details %}<br>{{ edu.details }}{% endif %}
          </p>
        {% endfor %}
      </div>
    </div>
    <div class="buttons is-centered mt-5">
      <a class="button is-primary is-medium" href="{{ site.data.profile.resume.url }}" target="_blank" rel="noopener">
        <span class="icon">
          <i class="fas fa-download"></i>
        </span>
        <span>{{ site.data.profile.resume.label }}</span>
      </a>
    </div>
  </div>
</section>
