<section class="section" id="references-testimonials">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10-tablet is-8-desktop">
        <div class="box is-static has-text-centered">
          <h2 class="title is-size-3 section-title">References</h2>
          <p class="is-size-5">
            References will be provided upon request.<br>
            Please contact me directly for formal written references or letters regarding my research, teaching, or industrial work.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
