<section class="section" id="testimonials">
  <div class="container">
    <h2 class="title is-size-3 has-text-centered">Testimonials</h2>
    <div class="box has-background-light has-text-grey">
      <p class="is-size-5">Professional recommendations and testimonials are available upon request.<br>
        Please contact me directly for formal written references or letters regarding my research, teaching, or industrial work.</p>
      <p class="is-size-6 has-text-centered mt-2">(You can invite colleagues or mentors to provide public testimonials as you build your network.)</p>
    </div>
  </div>
</section>
