---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <main class="section" id="page-section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10-tablet is-8-desktop">
                    <h1 class="title is-1 is-uppercase has-text-weight-bold has-text-centered">
                        {{page.title}}
                    </h1>
                    <hr class="has-background-black">
                    <div class="content prose">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>
